<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376888734237-5q2hagnosijjecp6b5ug68u8qvicurot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376888734237-5q2hagnosijjecp6b5ug68u8qvicurot</string>
	<key>API_KEY</key>
	<string>AIzaSyDMZgL1-VNY_UUOqCmcyxNk94JYIjR_EtI</string>
	<key>GCM_SENDER_ID</key>
	<string>376888734237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>apps.Agenda</string>
	<key>PROJECT_ID</key>
	<string>agenda-notification-c4e5a</string>
	<key>STORAGE_BUCKET</key>
	<string>agenda-notification-c4e5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376888734237:ios:57d1479791f2a803de0cf4</string>
</dict>
</plist>